@font-face{
    font-family:matrix1;
    src: url(fonts/matrix.ttf)
}
@font-face{
    font-family:matrix2;
    src: url(fonts/miltown.ttf)
}

body {
    margin: 0;
    
    background-image: url(img/fondomatrix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

article {
    color: white;
    display: block;
}

.seccions {

  font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 70%;
    background: rgba(0, 0, 0, 0.900);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
    
    
}
header {
    text-align: center;
   
    text-transform: uppercase;
    font-size: 300%;
    font-family: matrix2;
  
    color:rgb(243, 245, 243);
-webkit-background-clip: text;
-webkit-text-stroke: 0.2px rgb(15, 15, 15);

}

h2{
    
    font-family: matrix2;
    text-transform: uppercase;
    -webkit-background-clip: text;
    margin: 0;
    color:rgb(243, 245, 243);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2px rgb(15, 15, 15);
    padding: 20px;
    text-align: center;
    
}
h4{   
    font-family: matrix2;
    text-transform: uppercase;
    -webkit-background-clip: text;
    margin: 0;
    color:rgb(243, 245, 243);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2px rgb(15, 15, 15);
    padding: 20px;
    text-decoration-line: underline;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }
nav {
    background: rgba(0, 0, 0, 0.800);
    border-top: solid 1px rgb(0, 116, 19);
    border-bottom: solid 1px rgb(0, 116, 19);
    margin-bottom: 50px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainmenu {
    font-family:matrix2;
    text-transform: UPPERCASE;
   
    text-decoration: none;
    opacity: 1;
    font-size: 100%;
    color:rgb(243, 245, 243);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2px rgb(15, 15, 15);

}
.mainmenu:hover{
    -webkit-text-stroke: 1.5px rgb(18, 110, 0);
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav li{
    margin: 0 4%;
}

p {
    
    color:rgb(187, 199, 187);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    padding: 10px;
    font-size: 1em;
   
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #020202;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
    font-family:matrix2;
    text-transform: UPPERCASE;
   
    text-decoration: none;
    opacity: 1;
    font-size: 100%;
    color:rgb(243, 245, 243);
    color: transparent;
    
    
   
}

.dropdown:hover .dropdown-content {
    display: block;
}


footer {
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: rgb(17, 109, 4);
    background: rgba(0, 0, 0, 0.900);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
    
    }
    footer a{
        text-decoration: none;
        color: rgb(17, 109, 4);
        float:center;
        padding: 1em;
    }
.imatges{
   
  
  position: relative;
  margin: 10px;
}
.descripcions{
    text-align: justify;
    float: left;
}

table {
    width: 100%;
    border: 1px solid #000;
}
th, td{
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid rgb(12, 77, 12);
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
   
 }
 caption {
    padding: 0.3em;
 }


.enllaç {
    text-decoration: none;
    color: rgb(17, 109, 4);
    float:center;
    padding: 1em;  
}
.enllaç:hover{
    -webkit-text-stroke: 1.5px rgb(18, 110, 0);
}


.imgv{
    width:30%;
    height: 80%;
    text-align: center;
}
.imgh{
    width:35%;
    text-align: center;
}

#trinity{
    width:20%;
    height: 60%;
    text-align: center;

}
#morfeo{
    width:30%;
    height: 60%;

}
#portada{
    width:25%;
    height: 30%;
}
img{
    display:block;
    margin:auto;
    
}
iframe{
    display:block;
    margin:auto;
   height: 360px;
   width: 600px;
}  
